@model Models.EF.DIEN

@{
    ViewBag.Title = "Chỉnh sửa điện";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header{
    <h3 class="fa fa-bolt">
        @Html.ActionLink("Sửa điện", "Index", new { /* id=item.PrimaryKey */ })
    </h3>
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="col-md-12 form-group">
            <p>
                @Html.ActionLink("Về danh sách", "Index", "QLD", new { @class = "btn btn-primary" })
            </p>
        </div>

        <div class="col-md-2 form-group"> </div>

        <div class="col-md-8 form-group">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.MaDien, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.MaDien, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MaDien, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.MaPhong, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.MaPhong, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MaPhong, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NgayGhi, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.NgayGhi, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.NgayGhi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CSD, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.CSD, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CSD, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CSC, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.CSC, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CSC, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DonGia, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.DonGia, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DonGia, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Sửa" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
}
